<form method="post" action="{{ path('sicktype_delete', {'id': sicktype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sicktype.id) }}">
    <button class="btn">Delete</button>
</form>
