{% extends 'base.html.twig' %}

{% block title %}Sicktype index{% endblock %}

{% block body %}
    {{ include('main/page-title.html.twig', {
        'pagetitle': 'Illnesses/Ailments Registry',
        'subtitle': 'A tabuluated list of all sicktype registered in the system',
        'actions': [
            {
                'name': 'sicktype_new',
                'class': 'success border-warning',
                'label': 'add new sick type to registry',
                'id': 1
            }
        ]
    })}}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sicktype in sicktypes %}
            <tr>
                <td>{{ sicktype.name }}</td>
                <td>
                    {% include "misc/buttons-index.html.twig" with { entity: sicktype, entityname: 'sicktype'} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
