{% extends 'base.html.twig' %}

{% block title %}New Sicktype{% endblock %}

{% block body %}
    <h1>Create new Sicktype</h1>

    {{ include('sicktype/_form.html.twig') }}

    <a href="{{ path('sicktype_index') }}">back to list</a>
{% endblock %}
