{% extends 'base.html.twig' %}

{% block title %}New Donation {{parent()}}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'New Donation',
    'subtitle': 'Add a new donation',
    'actions': [
        {
            'name': 'donation_index',
            'class': 'primary',
            'label': 'donations registry',
            'id': donation.id
        }
    ]
})}}
<div class="col">
    {{ include('donation/_form.html.twig', {button_label: 'create donation'}) }}
</div>
{% endblock %}
