{% extends 'base.html.twig' %}

{% block title %}Update Bloodbag Details {{ parent() }}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'Update Blood Bag Details',
    'actions': [
        {
            'name': 'bloodbag',
            'id': bloodbag.id,
            'class': 'warning',
            'label': 'cancel update',
        },
        {
            'name': 'bloodbag',
            'class': 'info',
            'label': 'back to list',
        },
    ]
})}}
<div class="row">
    <div class="col">
        {{ include('bloodbag/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

{% endblock %}
