{% extends 'base.html.twig' %}

{% block title %}New Bloodbag{% endblock %}

{% block body %}
    <h1>Create new Bloodbag</h1>

    {{ include('bloodbag/_form.html.twig') }}

    <a href="{{ path('bloodbag_index') }}">back to list</a>
{% endblock %}
