{% extends 'base.html.twig' %}

{% block title %}Update Bloodtest {{ parent() }}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'Update Blood Test Details',
    'actions': [
        {
            'name': 'bloodtest_show',
            'id': bloodtest.id,
            'class': 'warning',
            'label': 'cancel update',
        },
        {
            'name': 'bloodtest_index',
            'class': 'info',
            'label': 'back to list',
        },
    ]
})}}
<div class="row">
    <div class="col">
        {{ include('bloodtest/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
