{% extends 'base.html.twig' %}

{% block title %}New Bloodtest {{ parent() }}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'New Blood Test',
    'actions': [
        {
            'name': 'bloodtest_index',
            'class': 'info',
            'label': 'back to list',
        }
    ]
})}}
<div class="row">
    <div class="col">
        {{ include('bloodtest/_form.html.twig') }}
    </div>
</div>
{% endblock %}
