<div class="col btn-group">
    <a class="btn btn-sm btn-outline-info" role="button" href="{{ path(entityname~'_show', {'id': entity.id}) }}">show</a>
    <a class="btn btn-sm btn-warning" role="button" href="{{ path(entityname~'_edit', {'id': entity.id}) }}">edit</a>
</div>