<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path('home')}}">BloodBank</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#mobilMenuNav" aria-controls="mobilMenuNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobilMenuNav">
        {{ knp_menu_render('main', {
            'currentClass': 'active',
        }) }}
        <nav class="nav justify-content-end">
            {% if app %}
            <a class="btn btn-danger nav-link" role="button" href="{{path('app_login')}}">Login</a>
            {% else %}
            <a class="btn btn-danger nav-link" role="button" href="{{path('app_logout')}}">Sign Out</a>
            {% endif %}
        </nav>
    </div>
</nav>