{% extends 'base.html.twig' %}

{% block title %}New Employee {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create new Employee</h1>
            </div>
            <div class="col-12">
                {{ include('appuser/_form.html.twig', {button_label: "create employee"}) }}
            </div>
        </div>
    </div>
{% endblock %}
