<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} | Anagu BloodBank{% endblock %}</title>
        {% include 'misc/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-dark text-light">
        {% include 'misc/mainNav.html.twig' %}
        <div class="container-fluid">
            <div class="container" id="content-container">
                <div class="row" id="content-container-row">
                    {% block body %}{% endblock %}
                </div>
                <div class="row" id="footer"></div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        {% include 'misc/javascripts.html.twig' %}
    </body>
    <div>
</html>
