<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} | Anagu BloodBank{% endblock %}</title>
        {% include 'misc/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-dark text-light">
        {% include 'misc/mainNav.html.twig' %}
        <div class="container-fluid">
            <div class="container" id="content-container">
                {% block body %}{% endblock %}
            <div class="container" id="footer-container">
                {% block footer %}{% endblock %}
            </div>
        </div>
        {% include 'misc/javascripts.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
